body {
  background-color: #111;
}

canvas {
  border: 4px solid #fff;
  border-bottom: transparent;
  background: url(./sprites/bkg.png);
  margin: 0 auto;
  display: block;
}

.opciones {
  text-align: center;
  margin: 20px auto;
}

button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color .1s ease-in-out;
}

button.restart {
  background-color: #fff;
  color: #111;
}

button.restart:hover {
  background-color: #ddd;
}